In [116]:
import gmaps
import json
import os, sys
from os.path import join
from ibm_watson import ToneAnalyzerV3
from ibm_watson.tone_analyzer_v3 import ToneInput
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator

In [129]:
GKEY = 'AIzaSyANBKTnUtFUgYga3F-gzM6qwdNFaUul8Gg'
from tweepy import Stream, OAuthHandler
from tweepy.streaming import StreamListener
import time, json, re
from geopy import geocoders
from geopy.geocoders import Nominatim
from time import mktime
from datetime import datetime
g = geocoders.GoogleV3(api_key=GKEY)
import pandas as pd

In [130]:
#AccessCodes
consumerKey = "TTbRIgdtpJUcQUSVZe19IurDc"
consumerSecret = "hf54y1TpkhpxkhLQBMmJvbTMfFMMUfGbgYZw5xbswIad3ZWzer"
accessToken = "372330040-UqVzc2sUKDFz8ZDUowAufuyAv5uaxmbvGnXTyhj3"
accessSecret = "6vArqK40I23JURV8Uevek7PNvBqCfY0nhlmVJ2hsQ1zEm"

In [131]:
## Sample datasets
import gmaps.datasets

In [132]:
gmaps.configure(api_key=GKEY)

#############################################################################

Here we parse the tweets and create a pandas dataset

#############################################################################

In [133]:
## This is a lat and long bounding box over the United States
US_geobox = [-171.791110603, 18.91619, -66.96466, 71.3577635769]

In [291]:
#Scraping/ParsingTweets
class Listener(StreamListener):
    def __init__(self):
        self.tweet_len_accept = 45
        self.break_at = 5
        self.panda_list = []
        self.count = 0
        self.dfObj = pd.DataFrame()

    def on_data(self, raw_data):
        if self.count > self.break_at:
            self.dfObj = pd.DataFrame(self.panda_list, columns =['date_obj', 'tweet', 'latitude', 'longitude'])
            return False
        try:
            
            jsonData = json.loads(raw_data)
            #Converting date to datetime format:
            date = jsonData['created_at']
            date2 = str(date).split(' ')
            date3 = date2[1]+' '+date2[2]+' '+date2[3]+' '+date2[5]
            datetime_object = time.strptime(date3, '%b %d %H:%M:%S %Y')
            dt = datetime.fromtimestamp(mktime(datetime_object))
            #Parsing tweet and location:
            pretweet = jsonData['text']
            userInfo = jsonData['user']
            location = userInfo['location']
        
            if jsonData['lang'] == 'en' and location != 'Midwest' and location!= 'Whole World' and location != 'Earth':
                #print(dt, pretweet, location)
                geolocator = Nominatim(user_agent="my-application")
                #geolocation = g.geocode(location, timeout=10)
                geolocation = geolocator.geocode(location)
                try:
                    #The 2-5 len range helps to remove inaccurate/unspecific locations
                    if "United States of America" in geolocation.address[::] and 5>= len(geolocation.address.split(",")) > 2 :
                        
                        lat = geolocation.latitude
                        lon = geolocation.longitude
     
                        if not jsonData['retweeted'] and 'RT @' not in pretweet:
                            dt = str(dt)
                            tweet = ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",pretweet).split())
                            tweet_len = len(tweet)
                            if tweet_len > self.tweet_len_accept:
                                #print(tweet_len)
                                new_list = [dt, tweet, lat, lon]
                                self.panda_list.append(new_list)
                                self.count +=1
                except Exception as e:
                    pass
        except BaseException as e:
            time.sleep(0.1)
    def on_error(self, status_code):
        print(status_code)

#Access
auth = OAuthHandler(consumerKey, consumerSecret)
auth.set_access_token(accessToken, accessSecret)

#InitiateStreaming
listener = Listener()

twitterStream = Stream(auth, listener)
twitterStream.filter(locations=US_geobox)

In [292]:
df = listener.dfObj

In [293]:
df

,date_obj,tweet,latitude,longitude
0,2020-03-30 20:41:58,According to an organizer theres 50 cars circl...,41.875562,-87.624421
1,2020-03-30 20:41:58,If you are a horse racing person please join t...,39.952724,-75.163526
2,2020-03-30 20:41:58,I ll give this Ultimate here A power Rush Sand...,41.875562,-87.624421
3,2020-03-30 20:41:59,this was the beginning of our friendship Remem...,38.046407,-84.497039
4,2020-03-30 20:41:59,He would have had a longer career if he though...,35.687000,-105.937800
5,2020-03-30 20:41:59,Today and every day we thank you for all you d...,42.605589,-83.149930

#############################################################################

RUN the tweets through the tone analyzer

##########################################################################

In [294]:
authenticator = IAMAuthenticator('WWfYmUhjlV60EA-ZwfhXG7n1eopAyoc8B8veLjpMn4J0')
service = ToneAnalyzerV3(
    version='2017-09-21',
    authenticator=authenticator)
#service.set_service_url('https://gateway.watsonplatform.net/tone-analyzer/api')
service.set_service_url('https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/71cb1ee3-d68b-4688-a041-04e72b826f2b')

In [295]:
def extract_values(obj, key):
    """Pull all values of specified key from nested JSON."""
    arr = []

    def extract(obj, arr, key):
        """Recursively search for values of key in JSON tree."""
        if isinstance(obj, dict):
            for k, v in obj.items():
                if isinstance(v, (dict, list)):
                    extract(v, arr, key)
                elif k == key:
                    arr.append(v)
        elif isinstance(obj, list):
            for item in obj:
                extract(item, arr, key)
        return arr

    results = extract(obj, arr, key)
    return results

In [356]:
mag_list = []
emotion_list = []
score_list = []
for index, row in df.iterrows():
    text = str(row['tweet'])
    #print(text)
    data = service.tone(
    {'text': text},
    content_type='application/json'
    ).get_result()
    ## parse dictionary
    for key, value in (data["document_tone"]).items():
        ## is value an empty list
        empty = len(value)
        if empty == 0:
            continue
            print("empty list ", value)
            print()
        else:
            ## value is a dictionary list 
            print("#####################")
            mag = -1
            #max_tone = ""
            next_item = False
            for item in value:
                for needle, record in item.items():
                    if needle == 'tone_id' and (next_item == True):
                        next_item = False
                        max_tone = record
                    if needle == 'score':
                        if record > mag:
                            next_item = True
                            mag = record
                        else:
                            next_item = False
            print("max", mag)
            print("tone", max_tone)
            print
            print()

#####################
max 0.87913
tone analytical

#####################
max 0.662126
tone joy

#####################
max 0.810022
tone joy

#####################
max 0.681699
tone tentative

#####################
max 0.909949
tone confident

If I can t lean on you for support when shit gets rough in my life I don t want you
{'document_tone': {'tones': [{'score': 0.762356, 'tone_id': 'analytical', 'tone_name': 'Analytical'}, {'score': 0.88939, 'tone_id': 'tentative', 'tone_name': 'Tentative'}]}}

Most of them are Federal employees surprise surprise surprise real estate value dropping in Virginia
{'document_tone': {'tones': [{'score': 0.762356, 'tone_id': 'analytical', 'tone_name': 'Analytical'}, {'score': 0.88939, 'tone_id': 'tentative', 'tone_name': 'Tentative'}]}}

This definitely my last day with blonde lol its gotta go
{'document_tone': {'tones': [{'score': 0.762356, 'tone_id': 'analytical', 'tone_name': 'Analytical'}, {'score': 0.88939, 'tone_id': 'tentative', 'tone_name': 'Tentative'}]}}

Want to work at Lowe s We re hiring in AnnArbor MI Click for details SupplyChain
{'document_tone': {'tones': [{'score': 0.762356, 'tone_id': 'analytical', 'tone_name': 'Analytical'}, {'score': 0.88939, 'tone_id': 'tentative', 'tone_name': 'Tentative'}]}}

If jobs with titles like Security Officer Local Grocery Chain sound appealing to you follow us to hear about t
{'document_tone': {'tones': [{'score': 0.762356, 'tone_id': 'analytical', 'tone_name': 'Analytical'}, {'score': 0.88939, 'tone_id': 'tentative', 'tone_name': 'Tentative'}]}}

Somebody said you know when Apple drops a new iPhone and it have all the bugs and then they drop the 2nd version
{'document_tone': {'tones': [{'score': 0.762356, 'tone_id': 'analytical', 'tone_name': 'Analytical'}, {'score': 0.88939, 'tone_id': 'tentative', 'tone_name': 'Tentative'}]}}

In [185]:
emotion_list
# df["score"] = score_list

[]

#############################################################################################################

Here we are going to add the datasets created and create a heatmap of the United States based on the Emotion chosen. 
############################################################################################################

In [6]:
## SAMPLE earthquake datasets
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [7]:
locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))